<div class="menu">

    <mat-flat-button mat-button routerLink="/shiftplan" class="menu_button"
        [ngClass]="{ 'active': isActiveRoute('/shiftplan'), 'passive': !isActiveRoute('/shiftplan')}">
        <mat-icon class="shiftplan-mat-icon" aria-hidden="false" svgIcon="shiftplan">
        </mat-icon>
    </mat-flat-button>


    <mat-flat-button mat-button routerLink="/dashboard" class="menu_button"
        [ngClass]="{ 'active': isActiveRoute('/dashboard'), 'passive': !isActiveRoute('/dashboard') }">
        <mat-icon class="dashboard-mat-icon" aria-hidden="false" svgIcon="dashboard">
        </mat-icon>
    </mat-flat-button>


</div>