@import "../../theme";

.menu{
    z-index: 1;
    align-items: center;
    position: fixed;
    bottom: 20px;
    width: calc(100% - 40px);
    padding: 0px 20px;
    //background-color: $prim-color;
    height: $menu-height;
    display: flex;
    justify-content: space-between;
  
}

mat-flat-button {

    

    mat-icon {

        margin-top: auto;
        margin-bottom: auto;
        width: 60%;
        height: 60%;
        align-items: center;
    }
}

.pages {

    display: flex;
    float: left;
}

.menu_button {

    $padding: 7px;

    display: flex;
    justify-content: center;

    height: calc($menu-height - calc(2*$padding));
    width: calc($menu-height - calc(2*$padding));

    padding: $padding;
    background-color: $prim-color;
    border-radius: 30px;

    &.active {

        color: $sec-color !important;
        background-color: $color-5;


    }

    &.passive {

        color: $sec-color !important;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    }
}
