.menu{
    display: flex;
    flex-direction:row;
    align-items: stretch;

    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #014d6d;
    height: 10%;
    box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.4);
    
   
    mat-flat-button{
        display: flex;
        justify-content: center;
        height: 70px;
        width: 70px;
        background-color: rgba($color: #e9e8e8, $alpha: 0.8);
        border-radius: 10px;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
        margin: 5px;
       

        mat-icon{
            margin-top: auto;
            margin-bottom: auto;
            width: 80%;
            height: 80%;
            align-items: center;
        }
    }
}