@import "../../theme";

.menu{
    z-index: 1;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px);
    padding: 0px 10px;
    background-color: $prim-color;
    height: $menu-height;
}

mat-flat-button{

    $padding: 7px;

    display: flex;
    justify-content: center;
    height: calc($menu-height - calc(2*$padding));
    width: calc($menu-height - calc(2*$padding));
    border-radius: 10px;
    padding: $padding;

    mat-icon {

        margin-top: auto;
        margin-bottom: auto;
        width: 70%;
        height: 70%;
        align-items: center;
    }
}

.pages {

    display: flex;
    float: left;
}

.dashboard {

    position: relative;
    display: block;
    right: 0px;
    float: right;
}
