@import "../../theme";

.menu{
    z-index: 1;
    align-items: center;
    position: fixed;
    bottom: 20px;
    width: calc(100% - 40px);
    padding: 0px 20px;
    //background-color: $prim-color;
    height: $menu-height;
    display: flex;
    justify-content: space-between;
  
}

mat-flat-button {

    $padding: 7px;

    display: flex;
    justify-content: center;
    height: calc($menu-height - calc(2*$padding));
    width: calc($menu-height - calc(2*$padding));
    border-radius: 10px;
    padding: $padding;

    mat-icon {

        margin-top: auto;
        margin-bottom: auto;
        width: 70%;
        height: 70%;
        align-items: center;
    }

    &.active {

        color: $sec-color;
    }

    &.passive {

        color: $color-5 !important;    
    }
}

.pages {

    display: flex;
    float: left;
}

.menu_button {

    background-color: $prim-color;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}
