@import "../../../theme";
@import "../../Mixins/cardMixin";
@import "../../Mixins/buttonMixin";

.head {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  top: 0;
  z-index: 2;
  background-color: $prim-color;
  height: $header-height;
  width: calc(100% - 20px);

  h4 {
    position: absolute;
    font-size: 15px;
    padding: 0px 0px;
    margin: 0px;
    text-align: center;
    color: $sec-color;
    height: max-content;
  }

  .logout-div {
    
    position: fixed;
    display: flex;
    align-items: center;
    left: 10px;
    height: $header-height;
    max-width: max-content;

    p {
      color: white;
      margin: 0;
      height: max-content;
    }
  }

  .username-div {

    position: fixed;
    display: flex;
    align-items: center;
    right: 10px;
    height: $header-height;
    max-width: max-content;

    p {
      color: white;
      margin: 0;
      height: auto;
    }
  }


}

.body {
  padding: 10vh 5vw 0vh 5vw;


  .event-container {

    @include Card(100%);
    height: auto;
    display: block;
    width: 100%;

    .event-name {
      margin-top: 4%;
      margin-bottom: 0px;
    }

    p {
      margin: 0;
    }

    .event-loc {

      text-align: center;
    }

    .event-details {
      margin-left: 4%;
      margin-right: 4%;

      display: flex;
      justify-content: center;
      margin-bottom: 4%;


      .event-details {
        width: 100%;
      }

    }

    .event-title {


      text-align: center;
      margin-bottom: 15px;
    }
  }

  .button {

    @include button();

    margin: auto;
    margin-top: 10%;


  }

  .your-events {

    text-align: center;
  }

}