<div class="head">
    <h4>Planit Events</h4>
</div>
<button routerLink="/authLanding" style="margin-top: 50px;">Auth</button>
<button (click) = "click3()" style="margin-top: 50px;">Refresh</button>
<div class="body">

    <div class="events">
      
        <h2 class="your-events">Deine Events:</h2>
       
         <div class="event-container" routerLink="/shiftplan" *ngFor= "let event of this.hubservice.allEvents" (click)="loadEvent(event)">
            <div class="event-title">
                <h3 class="event-name">{{event.name}}</h3>
                <p>{{event.startDate | date: 'dd.MM.yy HH:mm'}} - {{event.endDate | date: 'dd.MM.yy HH:mm'}}</p>
            </div>
            <p class="event-loc">Veranstaltungsort: <br>{{event.location}} </p>
            <div class="event-details">
              
                <!-- <p class="event-details">Beschreibung: <br>{{event.description}} </p> -->
               
                
             </div>
           
         </div>
         <button type="submit" class="button" (click)="addCatDialog()">Event Hinzufügen</button>       
    </div>
   

</div>