@import '../../../Mixins/buttonMixin';

.container {
    margin: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;

    .header {
        margin-bottom: 0%;
        text-align: left;

    }


    .date-time {
        display: flex;

        .input-container {
            display: flex;

            margin-right: 0px;

        }

        .date-form {
            width: 50%;
            height: 40px;
            //border-radius: 4px;
            margin-right: 0px;
            text-align: center;

        }

        .timeInput {
            text-align: center;
            width: 50%;
            height: 40px;
            //border-radius: 4px;


        }

        .timePicker {
            margin-left: 0px;
            width: 10%;
            z-index: 10;
        }


    }

    .adress {
        margin-top: 3%;
        height: 80px;

    }

    .bttn {
        @include button();
    }




}