@import '../../../Mixins/buttonMixin';
@import '../../../../theme';


.invite-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

mat-form-field {

    margin: 20px 0px;
    width: 90%;
    height: 50px;
    //width: calc(100% - 50px);
}


button {

    @include button();
}