<div class="new-shiftblock">

  <div>
    <p>Beginn des Schichtblocks</p>
    <div class="date-time-container">
      <input class="date-form" matInput [matDatepicker]="matDatepicker" [min]="minDate" [max]="maxDate"
        placeholder="Datum" [(ngModel)]="currentBlock.startTime" (ngModelChange)="onInputChange()" placeholder="Datum"
        readonly (click)="matDatepicker.open()">
      <mat-datepicker #matDatepicker></mat-datepicker>
  
      <input class="date-form" matInput [ngxTimepicker]="picker" [format]="24" [(ngModel)]="startTimeTime"
        (ngModelChange)="onTimeInputChange()" [min]="minZeit" [max]="maxZeit" readonly>
      <ngx-material-timepicker #picker></ngx-material-timepicker>
    </div>
  </div>
  

  <div class="number-container">
    <mat-form-field class="inputfield" floatLabel="always" appearance="outline">
      <mat-label>Schichtlänge</mat-label>
      <input matInput type="number" [min]="1" [(ngModel)]="currentBlock.intervall" (ngModelChange)="onInputChange()">
      <span matSuffix>Minuten</span>
    </mat-form-field>
    
  </div>

  <div class="number-container">
    <mat-form-field class="inputfield" floatLabel="always" appearance="outline">
      <mat-label>Anzahl</mat-label>
      <input matInput type="number" [min]="1" [(ngModel)]="currentBlock.numberOfShifts"
        (ngModelChange)="onInputChange()">
        <span matSuffix>Schichten</span>
    </mat-form-field>
    
  </div>


  

  <div class="max-date-error" *ngIf="currentBlock.endTime > formattedEventEndDate(); else endDate">
    <p class="error-message small_text">Das Schichtende liegt außerhalb des Eventzeitraums.</p>
  </div>

  <ng-template #endDate>
    <p class="end-date">Ende des Blocks: {{currentBlock.endTime | date: 'EEE dd. MM. HH:mm'}}</p>
  </ng-template>


  <div class="number-container">
    <mat-form-field class="inputsfield" floatLabel="always" appearance="outline">
      <mat-label>Anzahl</mat-label>
      <input matInput type="number" [min]="1" [(ngModel)]="currentBlock.activitiesPerShift">
      <span matSuffix>Personen</span>
    </mat-form-field>
  </div>
  

  <button class="add-block-button" (click)="newBlock()">Schichtblock hinzufügen</button>


</div>