@import '../../../Mixins/buttonMixin';
@import '../../../../theme';

.new-shiftblock {

    display: flex;
    flex-direction: column;
    padding: 10%;

    p {
        margin: 0px;
    }
}

.date-time-container {

    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;

    .date-form {

        width: 50%;
        height: 30px;
        margin: 5% 0%;
        padding: 0px;
        text-align: center;
    }  

}

.number-container {

    display: flex;

    mat-form-field {

        width: 100%;

        span {

            padding-right: 20px;
        }
    
    }

}

.add-block-button {

    @include button();
    margin: auto;
    
}

.end-date {

    padding: 0px 0px 20px 0px;
}

.error-message {

    color: $color-4;
    padding: 0px 0px 20px 0px;
}


.ngx-material-timepicker {

    z-index: 2000 !important;
}

.timepicker-backdrop-overlay {

    z-index: 2000 !important;
}

.timepicker-overlay[_ngcontent-ng-c2461858124] {

    z-index: 2000 !important;
}

.cdk-overlay-container {

    z-index: 900 !important;
}