@import '../../../../theme';
@import '../../../Mixins/buttonMixin';
@import '../../../Mixins/cardMixin';


.new-cat-form-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    padding: 5%;
    height: auto;
    color: #000000;

}

.title {

    padding-top: 20px;
}

.base-settings-form {

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {

    width: 90%;
}

mat-form-field {

    width: 45%;
    margin: 5px;
}

input {
    
    text-align: center;
}

.divider {

    height: 1px;
    width: 100%;
    background-color: $color-5;

}

.add-block-button {

    @include button(2);
    margin-top: 20px;
}

.submit-button {

    @include button(1);
    margin-top: 100px;
}


.shift-blocks {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    .current-block {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;
        margin-top: 20px;
        padding: 10px;
        @include Card("filled");

        .time {

            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;

            .time-container {

                display: flex;
                flex-direction: row;

                mat-form-field {

                    width: 100px;
                }

                h3 {

                    padding: 10px;
                    margin: 0px;
                    height: max-content;
                }
            }
        }

        .shifts {

            display: flex;
            flex-direction: column;
            justify-content: center;

            h1, h3 {
                text-align: center;
                margin: 0px;
            }
        }
    }
}

.block-list {

    @include Card("filled");
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.date-form {

    width: 35%;
    height: 40px;
    padding: 0px;
    margin: 0px;
}

.date-time {

    display: flex;
    flex-direction: row;
    justify-content: center;
}

mat-datepicker, mat-datepicker-toggle {

    color: $prim-color;
}

.end-date {
    padding: 30px 0px;
    justify-content: center;
    text-align: center;
}





