<div class="form-container">

  <h2 class="title">Neue Schichtkategorie</h2>

  <div class="base-settings-form">

    <mat-form-field class="form" appearance="outline">
      <mat-label>Bezeichnung:</mat-label>
      <input class="input" matInput [(ngModel)]="newCategory.name" name="name" required />
      <mat-error *ngIf="true">
        Schichtname wird <strong>benötigt</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form" appearance="outline">
      <mat-label>Schichtbeschreibung:</mat-label>
      <textarea matInput [(ngModel)]="newCategory.description" name="description"></textarea>
    </mat-form-field>

    <div class="divider"></div>
  </div>



  <div class="shift-blocks">

    <div class="block-list" *ngFor="let block of newCategory.shiftBlocks">
      <p>Ich bin ein fixer Schichtblock</p>
    </div>

    <div class="current-block">

      <p>Beginn des Schichtblocks</p>
      <div class="date-time">
        <input class="date-form" matInput [matDatepicker]="matDatepicker" [min]="eventStartDate" [max]="eventEndDate"
          placeholder="Datum" [(ngModel)]="currentBlock.startDate" (ngModelChange)="onInputChange()">
        <mat-datepicker-toggle matSuffix [for]="matDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #matDatepicker></mat-datepicker>

        <ngx-mat-timepicker [(ngModel)]="currentBlock.startDate" (ngModelChange)="onInputChange()"
          [showSpinners]="false"></ngx-mat-timepicker>
      </div>

      <mat-form-field class="small_text test" floatLabel="always" appearance="outline">
        <mat-label>Schichtlänge</mat-label>
        <input matInput type="number" [(ngModel)]="currentBlock.intervall" (ngModelChange)="onInputChange()">
        <span matTextSuffix>Minuten</span>
      </mat-form-field>

      <mat-form-field class="small_text" floatLabel="always" appearance="outline">
        <mat-label>Anzahl</mat-label>
        <input class="inputs" matInput type="number" [(ngModel)]="currentBlock.numberOfShifts"
          (ngModelChange)="onInputChange()">
        <span matTextSuffix>Schichten</span>
      </mat-form-field>

      <div class="end-date">
        <p>Ende des Schichtblocks:</p>
        <div>{{currentBlock.endDate | date: 'EEE dd. MMM, HH:mm'}}</div>
      </div>


      <mat-form-field class="small_text" floatLabel="always" appearance="outline">
        <mat-label>Anzahl</mat-label>
        <input matInput type="number" [ngModel]="currentBlock.activitiesPerShift">
        <span matTextSuffix>Personen</span>
      </mat-form-field>

    </div>
    <div class="add-block-button" (click)="newBlock()">Neuer Schichtblock +</div>
  </div>
  <div class="submit-button">Kategorie anlegen</div>
</div>