@import '../../../../theme';
@import '../../../Mixins/buttonMixin';
@import '../../../Mixins/cardMixin';


.new-cat-form-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    padding: 5%;
    height: auto;
    color: #000000;

}

.title {

    padding-top: 20px;
}

.form-container {

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {

    width: 45%;
    margin: 5px;
}

.form {

    width: 90%;
}

input {
    
    text-align: center;
}

.submit-button {

    @include button();
    //margin-top: 100px;
}

