<mat-dialog-content class="new-cat-form-container">

  <h2 class="title">Neue Schichtkategorie</h2>

  <div class="form-container">

    <mat-form-field class="form" appearance="outline">
      <mat-label>Bezeichnung:</mat-label>
      <input maxlength="13" class="input" matInput [(ngModel)]="newCategory.name" name="name" required />
      <mat-error *ngIf="isCatNameInvalid()">
        Schichtname wird <strong>benötigt</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form" appearance="outline">
      <mat-label>Schichtbeschreibung:</mat-label>
      <textarea matInput [(ngModel)]="newCategory.description" name="description"></textarea>
    </mat-form-field>

    <button class="submit-button" (click)="addCat()">Kategorie anlegen</button>

  </div>

</mat-dialog-content>

