@import '../../../../theme';
@import '../../../Mixins/buttonMixin';

.dialog-container {

    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.submit-button {

    @include button();
}