<mat-card class="activity-card" (click)="toggleHelpers()">
  <div class="activity-row">
    <!-- Linke Seite: Bereich -->
    <div class="activity-left">
      <div class="activity-role">{{ role }}</div>
    </div>

    <!-- Rechte Seite: Datum oben, Zeit unten -->
    <div class="activity-right">
      <div class="activity-date">{{ date | date: 'EEE, dd.MM.yy' }}</div>
      <div class="activity-time">{{ start }} – {{ end }}</div>
    </div>
  </div>

<div class="icon-container">
  <mat-icon (click)="test()" class="dropdown-icon">expand_more</mat-icon>
</div>
  <!-- Helfer anzeigen -->
  <div class="activity-helpers" *ngIf="showHelpers">
    <p>{{description}}</p>
    <button (click)="test()">TESTER</button>
    <div *ngFor="let helper of activity" class="helper-item">
      <!-- <span
        class="dot"
        [ngClass]="{
          'dot-yellow': helper.role === 'Schichtleitung',
          'dot-green': helper.role !== 'Schichtleitung'
        }"
      ></span> -->
      <span class="helper-name">
        <!-- <ng-container *ngIf="helper.isLead">★</ng-container> -->
        {{ helper.user.firstName }} {{ helper.user.lastName }}
        <!-- <span *ngIf="helper.isCurrent">(Du)</span> -->
      </span>
    </div>
  </div>
</mat-card>