.activity-card {
  border-radius: 16px;
  width: 100%;
  padding: 16px;
  margin-bottom: 12px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }
}

.activity-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 600px) {
    gap: 10px;
  }
}

.activity-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.activity-role {
  font-size: 1.5rem;
  font-weight: 700;
  color: #222;

}

.activity-right {
  display: flex;
  text-align: right;
  flex-direction: column;
  align-items: flex-end;
  /* auskommentiert aktivieren */
  justify-content: flex-start;
  /* statt space-between */
  margin-left: auto;

  .activity-date {
    font-size: 0.8rem;
    color: #666;
    font-weight: 500;
  }

  .activity-time {
    font-size: 1.3rem;
    font-weight: 600;
    color: #222;
    margin-top: 4px;
  }
}

.activity-helpers {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.helper-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.dot-yellow {
  background-color: #ffcc00;
}

.dot-green {
  background-color: #4caf50;
}

.helper-name {
  font-weight: 500;

  span {
    font-size: 0.85rem;
    color: #666;
    margin-left: 4px;
  }
}