<mat-card class="activity-card" (click)="toggleHelpers()">
  <div class="activity-row">
    <div class="activity-left">
      <div class="activity-role">{{ role }}</div>
    </div>

    <div class="request-right">
      <div class="date-row">
        <p class="request-date">{{ shift.startTime | date:'EEE, dd.MM.yy' }}</p>
        <p class="request-end-date" *ngIf="nextDay(shift)">
          ( - {{ shift.endTime | date:'EEE, dd.MM.yy' }})
        </p>
      </div>

      <div class="request-time">
        {{ shift.startTime | date:'HH:mm' }} – {{ shift.endTime | date:'HH:mm' }} Uhr
      </div>
    </div>
  </div>

  <!-- Helfer anzeigen -->
  <div class="activity-helpers" *ngIf="showHelpers">

    <div *ngIf="shift.shift_category.description" class="beschreibung-block">
      <h3>Beschreibung</h3>
      <p>{{ shift.shift_category.description }}</p>
    </div>

    <div class="helpers-block">
      <h3>Schicht Helfer:</h3>

      <ng-container *ngFor="let helper of activity">
        <div *ngIf="helper.status === 'confirmed' || helper.status === 'requested'" class="helper-row">
          <span class="status-bar" [ngClass]="{
      'green': helper.status === 'confirmed',
      'yellow': helper.status === 'requested'
    }">
          </span>

          <span class="helper-name">
            {{ helper.user?.firstName }} {{ helper.user?.lastName }}
            <span *ngIf="helper.isCurrent">(Du)</span>
          </span>
        </div>

      </ng-container>

    </div>
  </div>
</mat-card>