.container{
    margin-top: 200px;
    margin-left: 200px;
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: orange;
}

.juhu{
    margin-top: 200px;
    margin-left: 200px;
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: pink;

}