@import '../../theme';

.dialogContainer {

    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.delFE {

    background-color: $prim-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
    p {
        color: $sec-color;
        margin: 10px;
    }

}