@import '../../../theme';
@import '../../Mixins/buttonMixin';


.container {

    background-color: $prim-color;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
        margin-bottom: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        max-width: 700px;
    }

    p {
        color: $sec-color;
        text-align: center;
    }
}

.submitBttn {

    @include button(2);
    color: $color-8;
    cursor: pointer;

    &:hover {

        background: darken($sec-color, 10%);
    }
}