<div class="container">
  <div *ngIf="!isLoggedIn" class="content">

    <p>Du wurdest zu einem Event eingeladen. Registriere dich oder melde dich an um beizutreten.</p>
    <button class="submitBttn" (click)="router.navigate(['/authLanding'])">
      Registrieren / Anmelden
    </button>
  </div>

  <div *ngIf="isLoggedIn" class="content">
    <p>Du wurdest zu einem Event eingeladen.</p>
    <button class="submitBttn" (click)="acceptInvite()">
      Event beitreten
    </button>
  </div>
</div>