@import '../../../../theme';
@import '../../../Mixins/buttonMixin';


.dialogContainer {

    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.list-container {

    margin: 15px 0px;
    padding: 0px 10px;
    min-width: 90%;
    max-height: 300px;
    overflow: scroll;

}

.user-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {

    margin: 10px 0px;
    margin-right: 30px;
}

.line {

    width: 70%;
    height: 1px;
    background-color: $prim-color;
}

.delete-user-icon {

    padding: 0px 10px;
    width: 13px;
    color: $color-4;

}

.new-person-button {

    @include button();
    
}