
<div class="dialogContainer">
    <h4>Personen</h4>
    <div class="line"></div>
    <div class="list-container">
        <div class="user-container" *ngFor="let user of globalUserlist">
            <p class="username">{{user.fName}} {{user.lName}}</p>
            <button (click)="toAdmin(user.uuid)">toAdmin</button>
            <button (click)="inviteToClaim(user)">invite</button>
            <mat-icon class="delete-user-icon" aria-hidden="false" svgIcon="delete" (click)="delUserDialog(user)"></mat-icon>
        </div>  
    </div>

    <button class="new-person-button" (click)="newUserDialog()">Neue Person anlegen</button>
    <!-- <button class="invite-person-button" (click)="invitePersonToEvent()">Person einladen</button> -->
</div>
