@import '../../theme';

.login-container {

    background-color: $prim-color;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 100;

    input {

        text-align: center;
        width: 80%;
        height: 40px;
        margin-bottom: 20%;
        border: none;
        border-radius: 20px;
        font-size: 15px;
        background-color: $sec-color;

        &:focus {

            outline: none;
            border: 2px solid $color-6;
        }

    }

    .submit-button {

        width: 40%;
        padding: 10px 5px;
        border: none;
        border-radius: 20px;
        box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.7);
        background-color: $sec-color;
        
    }
}

