$prim-color: #014d6d;
$sec-color: #e9e8e8;
$third-color: #2e6d21;
$color-4: #c41e1e;
$color-5: #b1b1b1;

$menu-height: 50px;
$header-height: 40px;
$content-height: calc(100vh - ($menu-height + $header-height));