


$prim-color: #0d2e44;
$sec-color: #f1f1f1;
$third-color: #2e6d21;
$color-4: #c41e1e;
$color-5: #9c9c9c;
$color-6: #288DD1;
$color-7: #caa500;


h1 {

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

h2 {

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h3 {

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.small_text {

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;

}



$menu-height: 60px;
$header-height: 40px;
$content-height: calc(100vh - $header-height);


// Old Colors

//$prim-color-old: #014d6d;
//$color-5: #b1b1b1;

