$prim-color: #0d2e44;
$sec-color: #e9e8e8;
$third-color: #2e6d21;
$color-4: #c41e1e;
$color-5: #9c9c9c;
$color-6: #288DD1;
$menu-height: 50px;
$header-height: 40px;
$content-height: calc(100vh - ($menu-height + $header-height));


// Old Colors

//$prim-color-old: #014d6d;
//$color-5: #b1b1b1;

