// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$prim-color: #0d2e44;
$sec-color: #f1f1f1;
$third-color: #2e6d21;
$color-4: #c41e1e;
$color-5: #7e7e7e;
$color-6: #288DD1;
$color-7: #caa500;

$planit-palette: (
  50: #dfefff,
  100: #bdd8ef,
  200: #9ebcd7,
  300: #7ea0bf,
  400: #668bac,
  500: #0D2E44,
  600: #3e6989,
  700: #2f5572,
  800: #21425c,
  900: #0D2E44,

  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$EventManagement-primary: mat.define-palette($planit-palette);
$EventManagement-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$EventManagement-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

$EventManagement-theme: mat.define-light-theme((
  color: (
    primary: $EventManagement-primary,
    accent: $EventManagement-accent,
    warn: $EventManagement-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($EventManagement-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.invite-dialog-panel {
  .mat-dialog-container {
    padding: 0;
    border-radius: 16px;
    max-width: 420px;
    width: 100%;
  }
}
