@import '../../../theme';
@import '../../Mixins/buttonMixin';


.title {

    padding-top: 20px;
}

.form-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.base-settings-form {

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {

    width: 90%;
}

label {

    display: flex;
    justify-content: center;
    align-items: center;
}

.label {

    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
}

input {
    
    text-align: center;
}

.sec-form-section {

    display: flex;
    justify-content: center;

    .sec-form-container {

        display: flex;
        flex-direction: column;
        align-items: center;

        .inner-form-container {

            width: max-content;
            display: flex;
            margin: 0px;

            .shift-intervall-form {

                width: 100px;
            }

            .person-amount-form {

                width: 50px;
            }

            .label {

                padding: 0px 10px;
                padding-top: 10px;
                margin: 0px;
                height: max-content;
            }

            .unit {

                padding: 0px 10px;
                padding-top: 10px;
                margin: 0px;
            }
        }
    }

    .title {

        width: max-content;
    }
}

.divider {

    height: 1px;
    width: 100%;
    background-color: $color-5;

}

.add-block-button {

    @include button(2);
    margin-top: 20px;
}

.submit-button {

    @include button(1);
    margin-top: 200px;
}


.shift-blocks {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;

    .current-block {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        height: max-content;
        margin-top: 20px;
        padding: 20px 10%;
        border: 2px solid $prim-color;
        border-radius: 20px;

        .time {

            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;

            .time-container {

                display: flex;
                flex-direction: row;

                mat-form-field {

                    width: 100px;
                }

                h3 {

                    padding: 10px;
                    margin: 0px;
                    height: max-content;
                }
            }
        }

        .shifts {

            display: flex;
            flex-direction: column;
            justify-content: center;

            h1, h3 {
                text-align: center;
                margin: 0px;
            }
        }
    }
}






