<app-header></app-header>

<div class="persons-container">
  <h1 class="title">Personen</h1>
  <div class="persons-list">

    <div class="person-item" *ngFor="let person of userList" (click)="toggleUser(person)"
      [class.open]="openedUser === person">

      <div class="card-header">
        <span class="name">{{ person.fName }} {{ person.lName }}</span>

        <div class="header-actions">

          <span *ngIf="person.isAdmin" class="admin-pill">Admin</span>

          <button *ngIf="!person.email" class="invite-pill" (click)="inviteUser(person); $event.stopPropagation()">
            Einladen
          </button>

        </div>
      </div>



      <!-- EXPANDED CONTENT -->
      <div class="user-details" *ngIf="openedUser === person">

        <div class="detail-row">
          <span>Telefon:</span>
          <span>+49 1577 654321</span>
        </div>

        <div class="detail-row">
          <span>E-Mail:</span>
          <span>{{ person.email }}</span>
        </div>

        <div class="user-action-row">

          <button class="admin-toggle-btn" [ngClass]="{ 'remove': person.isAdmin, 'add': !person.isAdmin }"
            (click)="toggleAdmin(person); $event.stopPropagation()">
            {{ person.isAdmin ? 'Admin Rechte entfernen' : 'zum Admin machen' }}
          </button>

          <button class="remove-user-btn" (click)="removeUser(person); $event.stopPropagation()">
            Aus Event Entfernen
          </button>
          <!-- <button (click)="test(person.id)">TEST</button> -->

        </div>

      </div>


    </div>



  </div>

  <div class="add-user-wrapper">
    <button class="add-user-btn" (click)="addUser()">+</button>
  </div>
</div>