<app-header></app-header>

<div class="persons-container">

  <div class="title-row">
    <h1 class="title">Personen</h1>
    <div class="search-bar">
      <input type="text" placeholder="Person suchen..." [(ngModel)]="searchTerm" (input)="applyFilter()" />
    </div>
  </div>




  <div class="persons-list">

    <div class="person-item" *ngFor="let person of filteredUserList" (click)="toggleUser(person)"
      [class.open]="openedUser === person">

      <div class="card-header">
        <span class="name">{{ person.fName }} {{ person.lName }}</span>


        <div class="header-actions">

          <span *ngIf="person.isAdmin" class="admin-pill">Admin</span>
          <button *ngIf="!person.email && this.eventService.editMode" class="invite-pill"
            (click)="inviteUser(person); $event.stopPropagation()">
            Einladen
          </button>

        </div>
      </div>



      <!-- EXPANDED CONTENT -->
      <div class="user-details" *ngIf="openedUser === person">

        <div class="detail-row">
          <p>Telefon:</p>
          <p>{{ person.phone }}</p>
        </div>

        <div class="detail-row">
          <p>E-Mail:</p>
          <div>
            <p>{{ person.email }}</p>
          </div>

        </div>
        

        <div class="detail-row shift-details">

          <div class="shift-details-header" (click)="toggleShiftBreakdown(person, $event)">

            <div class="shift-toggle-left">
              <div class="toggle-button" [class.arrow-down]="shiftBreakdownOpen[person.id]">
              </div>
              <p>Zeit in Schichten:</p>
            </div>

            <p>{{ getTotalShiftTime(person) }}</p>
          </div>

          <div class="shift-versions-container" *ngIf="shiftBreakdownOpen[person.id]">

            <div *ngIf="getShiftDurationBreakdown(person).length > 0; else noShifts">
              <div class="shift-version" *ngFor="let item of getShiftDurationBreakdown(person)">
                <p>{{ item.count }} Schicht{{ item.count > 1 ? 'en' : '' }} à {{ formatMinutes(item.minutes) }}</p>
              </div>
            </div>

            <ng-template #noShifts>
              <p class="no-shifts-text">In keinen Schichten eingetragen</p>
            </ng-template>

          </div>



          <div *ngIf="this.eventService.loggedInIsAdmin()" class="user-action-row">

            <button class="admin-toggle-btn" [ngClass]="{ 'remove': person.isAdmin, 'add': !person.isAdmin }"
              (click)="toggleAdmin(person); $event.stopPropagation()">
              {{ person.isAdmin ? 'Admin Rechte entfernen' : 'zum Admin machen' }}
            </button>

            <button class="remove-user-btn" (click)="removeUser(person); $event.stopPropagation()">
              Aus Event Entfernen
            </button>
            <!-- <button (click)="test(person.id)">TEST</button> -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="add-user-wrapper">
    <button class="add-user-btn" (click)="addUser()">+</button>
  </div>

</div>