@use 'media';
@import '../../theme.scss';


:host {
    position: absolute;
    width: 100%;
    height: max-content;
}

.persons-container {

    display: flex;
    flex-direction: column;
    margin-top: calc($header-height + 2rem);
    background: $sec-color;
    //height: calc(100vh - calc($header-height + 4rem));
    height: 85vh;
    padding: 1rem;
    align-items: center;

    .title-row {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
        max-width: media.$bp-tablet;

        .title {

            width: 100%;
            max-width: media.$bp-tablet;
            align-items: start;
            margin: 0;
        }

        .search-bar {

            align-content: center;

            input {

                border: 2px solid transparent;
                border-radius: 0.75rem;
                padding: 0.5rem;

                &:focus {
                    outline: none;
                    border: 2px solid $prim-color;
                    //box-shadow: 0 0 0 3px rgba($prim-color, 0.1);
                }
            }
        }
    }
}

.persons-list {
    width: 100%;
    max-width: media.$bp-tablet;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    //height: calc(100vh - calc($header-height + 4rem));
    overflow: scroll;
    scrollbar-width: none;
}

/* === CARD === */

.person-item {
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: 0.2s ease;
}

.person-item.open {
    padding-bottom: 26px;
}

/* === HEADER === */

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
}

.name {
    font-size: 18px;
    font-weight: 600;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* === PILLS === */

.admin-pill {
    //background: #0f172a;
    //color: white;
    border: 1px solid $prim-color;
    padding: 0.25rem 0.5rem;
    border-radius: 0.75rem;
    font-size: 13px;
}

.invite-pill {
    background-color: $prim-color;
    border: none;
    //border: 1px solid #0f172a;
    color: $sec-color;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    font-size: 13px;
    cursor: pointer;
    max-height: 30px;
}

.invite-pill:hover {
    background: lighten($prim-color, 6%);
}

/* === EXPANDED CONTENT === */

.user-details {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
        margin: 0;
    }
}

.detail-row {
    display: flex;
    justify-content: space-between;
    font-size: 15px;

    &.shift-details {
        flex-direction: column;
        justify-content: end;

        .shift-versions-container {
            margin-top: 0.5rem;
            margin-bottom: 1rem;

            p {
                margin-bottom: 0.125rem;

                &.no-shifts-text {
                    color: $color-5;
                }
            }
        }
    }
}

.shift-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.shift-toggle-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.toggle-button {
    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent $prim-color;
    border-radius: 2px;
    transition: transform 0.25s ease;
}


.toggle-button.arrow-down {
    transform: rotate(90deg);
}


/* === ACTION BUTTON === */

.make-admin-btn {

    border: 1px solid $prim-color;
    background: white;
    color: $prim-color;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
}

.make-admin-btn:hover {
    background: $prim-color;
    color: white;
}

.add-user-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.add-user-btn {
    //border: 1px solid #0f172a;
    background-color: $prim-color;
    color: $sec-color;
    width: 6rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
}

.add-user-btn:hover {
    background: lighten($prim-color, 6%);
    color: $sec-color;
}

.admin-toggle-btn {

    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s ease;
}

/* Add admin */
.admin-toggle-btn.add {
    border: 1px solid #0f172a;
    background: white;
    color: #0f172a;
}

.admin-toggle-btn.add:hover {
    background: #0f172a;
    color: white;
}

/* Remove admin */
.admin-toggle-btn.remove {
    border: 1px solid #991b1b;
    background: white;
    color: #991b1b;
}

.admin-toggle-btn.remove:hover {
    background: #991b1b;
    color: white;
}

.remove-user-btn {

    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s ease;
    border: 1px solid #991b1b;
    background: white;
    color: #991b1b;
}

.remove-user-btn:hover {
    background: #991b1b;
    color: white;
}

.user-action-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 14px;

    @include media.desktop {
        justify-content: end;
    }

}

/* unify size */
.admin-toggle-btn,
.remove-user-btn {
    min-width: 150px;
    text-align: center;
    padding: 6px 0;
}