@import '../../../Mixins/buttonMixin';
@import '../../../../theme';


.success {

    display: flex;
    position: absolute;
    transform: translateY(-3%);
    width: 100%;
    height: 83%;
    background-color: $third-color;
    border-radius: 20px;
    z-index: -1;
    opacity: 0;
    //transition: background-color 5s ease-in-out;

    align-items: center;
    justify-content: center;

    p {
        color: white;
    }
}

.fade-in {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    
}

.fade-out {

    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: -1 !important;
}

.form {

    width: 90%;
}

button {
    
    @include button();
    padding: 10px 20px;
}