<div class="register-wrapper">
<!-- 
  <div class="logo">
    <img src="../../../../assets/icons/icon-512x512.png" alt="PLANIT Logo" />
  </div> -->

  <h2 class="title">Konto erstellen</h2>
  <p class="subtitle">Erstelle dein Benutzerkonto</p>

  <!-- Success Overlay -->
  <div class="success-overlay" [class.active]="animationState">
    <p>🎉 Erfolgreich registriert!</p>
  </div>

  <form class="form" (ngSubmit)="onSubmit()" #registerForm="ngForm">

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Vorname</mat-label>
        <input matInput [(ngModel)]="user.firstName" name="firstName" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nachname</mat-label>
        <input matInput [(ngModel)]="user.lastName" name="lastName" required>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="user.emailAddress" name="email" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>
      <input matInput type="password" [(ngModel)]="firstPass" name="pass1" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Passwort wiederholen</mat-label>
      <input matInput type="password" [(ngModel)]="secPass" name="pass2" required>
    </mat-form-field>

    <button color="primary" class="submit-btn" [disabled]="!registerForm.form.valid || !checkPassword()">
      {{ buttonText }}
    </button>
  </form>

</div>
