<div class="register-wrapper">

  <h2 class="title">Konto erstellen</h2>
  <p class="subtitle">Erstelle dein Benutzerkonto</p>

  <!-- Success Overlay -->
  <div class="success-overlay" [class.active]="animationState">
    <p>🎉 Erfolgreich registriert!</p>
  </div>

  <form class="form" (ngSubmit)="onSubmit()" #registerForm="ngForm">

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Vorname</mat-label>
        <input matInput [(ngModel)]="user.firstName" name="firstName" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nachname</mat-label>
        <input matInput [(ngModel)]="user.lastName" name="lastName" required>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>

      <input matInput type="email" autocomplete="email" [(ngModel)]="user.emailAddress" name="email" #email="ngModel"
        required email (ngModelChange)="onEmailChange(email)" (ngModelInit)="setEmailModel(email)" />


      <mat-error *ngIf="email.errors?.['emailTaken']">
        Diese Email ist bereits vergeben
      </mat-error>

      <mat-error *ngIf="email.errors?.['email']">
        Bitte eine gültige Email eingeben
      </mat-error>

    </mat-form-field>
<!-- 
    <mat-form-field>
      <mat-label>Telefonnummer</mat-label>

      <input matInput type="tel" autocomplete="tel" [(ngModel)]="user.phone" name="phone" #phone="ngModel"
         pattern="^\\+?[0-9\\-\\s]{7,15}$" />  
    </mat-form-field>  -->


    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>

      <input matInput type="password" autocomplete="new-password" [(ngModel)]="firstPass" name="pass1" #pass1="ngModel"
        required minlength="8" />

      <mat-error *ngIf="pass1.invalid && (pass1.dirty || pass1.touched)">
        Passwort muss mindestens 8 Zeichen lang sein
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Passwort wiederholen</mat-label>

      <input matInput type="password" autocomplete="new-password" [(ngModel)]="secPass" name="pass2" #pass2="ngModel"
        required (ngModelChange)="onSecondPasswordChange(pass2)" />

      <mat-error *ngIf="pass2.errors?.['tooShort']">
        Passwort ist zu kurz (mind. 8 Zeichen)
      </mat-error>

      <mat-error *ngIf="pass2.errors?.['mismatch']">
        Passwörter stimmen nicht überein
      </mat-error>
    </mat-form-field>



    <!-- <p class="error" *ngIf="passwordError">{{ passwordError }}</p>
    <p class="error" *ngIf="backendError">{{ backendError }}</p> -->

    <button mat-flat-button color="primary" class="submit-btn" [disabled]="
    !registerForm.valid ||
    passwordsDoNotMatch ||
    firstPass.length < 8
  ">
      {{ buttonText }}
    </button>


  </form>


</div>