@import "../../theme";
@import "../Mixins/cardMixin";

.head {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 2;
    background-color: $prim-color;
    height: $header-height;
    width: 100%;
  
    h4 {
      font-size: 15px;
      padding: 0px 0px;
      margin: 0px;
      text-align: center;
      color: $sec-color;
      height: max-content;
    }
  
    
}

.body{
    margin-top: 60px;

    .event-container{
        display: flex;
        margin-left: 10%;
        @include Card(100%);
        height: 50px;
        text-align: center;
        justify-content: center;
        width: 80%;

        h4{
          margin: 0;  
        }
    }

}