$prim-color: #0d2e44;

.login-dialog {
  padding: 1.5rem 1.2rem;
  text-align: center;
  width: 320px;
}

.logo img {
  width: 100px;
  margin-bottom: 1rem;
}

h2 {
  color: $prim-color;
  margin-bottom: 0.2rem;
}

.subtitle {
  color: #7a8a96;
  font-size: 0.85rem;
  margin-bottom: 1.2rem;
}

.form {
  width: 100%;
  margin-bottom: 1rem;
}

.login-btn {
  width: 100%;
  padding: 0.7rem;
  border-radius: 8px;
  background: $prim-color;
  color: #fff;
  font-weight: 600;

  &:hover {
    background: lighten($prim-color, 6%);
  }
}
