@import '../../../theme';


.visible-row {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  transition: background-color 0.4s ease;
  padding: 0.5rem;
}

.visible-row.expanded {
  background-color: #d8d8d8;
  padding: 0.5rem;
}

.time {
  align-self: stretch;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0.25rem 0;

  .start-time, .end-time {
    margin: 0;
  }
}

.activities-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.activities-row {
  display: grid;
  grid-template-columns: 1fr 1.5rem;
  gap: 0.5rem;
  width: 100%;
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(var(--cards-per-row), 1fr);
  gap: 1rem;
}

.toggle-container {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.toggle-container.invisible {
  visibility: hidden;
  pointer-events: none;
}

.amount-hidden {
  margin: 0;
  color: $prim-color;
}

.toggle-button {
  border-style: solid;
  border-width: 7px 15px 7px 0;
  border-color: transparent $prim-color transparent transparent;
  border-radius: 3px;
  transition: transform 0.25s ease;
}

.toggle-button.arrow-down {
  transform: rotate(-90deg);
}