<div class="shift-container">

  <div class="visible-row" [class.expanded]="toggled">

    <!-- ZEIT -->
    <div class="time">
      <p class="start-time">{{ shift.startTime | date:'HH:mm' }}</p>
      <p class="end-time">{{ shift.endTime | date:'HH:mm' }}</p>
    </div>

    <!-- ACTIVITIES -->
    <div class="activities-container" #prioActivitiesContainer>

      <!-- SICHTBARE ZEILE -->
      <div class="activities-row">
        <div class="activities-grid">
          <app-activity
            *ngFor="let activity of visibleActivities"
            [activity]="activity">
          </app-activity>
        </div>

        <!-- Toggle immer reserviert -->
        <div
          class="toggle-container"
          [class.invisible]="hiddenActivities.length === 0"
          (click)="toggled = !toggled"
        >
          <p class="amount-hidden">+{{ hiddenActivities.length }}</p>
          <div
            class="toggle-button"
            [class.arrow-down]="toggled">
          </div>
        </div>
      </div>

      <!-- GETOGGELTE ZEILEN -->
      <div class="activities-row" *ngIf="toggled">
        <div class="activities-grid">
          <app-activity
            *ngFor="let activity of hiddenActivities"
            [activity]="activity">
          </app-activity>
        </div>

        <!-- Leerer Platzhalter → gleiche Breite -->
        <div class="toggle-container invisible"></div>
      </div>

    </div>
  </div>

</div>
