@import '../../../theme';
@import '../../Mixins/cardMixin';

$shift-height: 70px;

.visible-row {

    display: flex;
    justify-content: center;
    align-items: center;
    height: $shift-height;

}

.hidden-row {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 0px 50px;
    background-color: $sec-color;

    .toggled-end-time {

        transform: translateX(-43px);
        width: 100%;
        text-align: left;
    }

}

.time {

    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;

    .start-time {
        transform: translateY(-20px);
    }

    .toggled-start-time {

        transform: translateY(0px);
    }

    .end-time {

        transform: translateY(30px);
    }

}

.prio-activities {

    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    min-height: 50px;

}

.toggle {

    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.toggleTrue {

    background-color: $sec-color;
}

.amount-hidden {

    text-align: center;
    margin: 0px;
    color: $prim-color;
}

.toggle-container {

    align-items: center;
}

.toggle-button {

    border-style: solid;
    border-width: 7px 15px 7px 0;
    border-color: transparent $prim-color transparent transparent ;
    transition: transform 0.3s ease;
    border-radius: 3px;
}

.arrow-down {

    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}

.toggleElseDiv {

    width: 50px;
}

p {
    padding: 0px;
    margin: 0px;
}

app-activity {

    width: 48%;
    margin: 8px 0px;
}

.hidden {

    min-width: 25%;
    max-width: 48%;
}