<div class="shift-container">

    <div class="visible-row"  [ngClass]="{'toggleFalse': !toggled, 'toggleTrue': toggled}">

        <div class="time">
            <p> {{shift.startTime.toString().substr(0,5)}} </p>
            <p> {{shift.endTime.toString().substr(0,5)}} </p>
        </div>
    
        <div class="prio-activities">
            <app-activity 
            *ngFor="let activity of shift.activities.slice(0, prioActivities)"
            class="prio"
            [activity]="activity"
            [shiftId]="shift.id">
            </app-activity>
        </div>
        <div *ngIf="shift.activities.length > prioActivities; else toggleElseDiv" class="toggle-container">
            <h3 class="amount-hidden">+{{shift.activities.length - prioActivities}}</h3>
            <div class="toggle">
                <div class="toggle-button" (click)="toggled = !toggled"> <p></p> </div>
            </div>
        </div>
        <ng-template #toggleElseDiv>
            <div class="toggleElseDiv"></div>
        </ng-template>

    </div>
    

    <div class="hidden-row" *ngIf="toggled === true">
        <app-activity
        *ngFor="let activity of shift.activities.slice(prioActivities)"
        class="hidden"
        [activity]="activity">
        </app-activity>
    </div>


</div>
