@import '../../../theme';


.visible-row {

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hidden-row {

    width: calc(100% - 10px);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 0px 5px;

}

.time {

    width: 50px;  
    height: 50px;
    text-align: center;
    padding-top: 10px;

}

.prio-activities {

    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    min-height: 50px;

}

.toggle {

    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.amount-hidden {

    text-align: center;
    margin: 0px;
}

.toggle-container {

    align-items: center;
}

.toggle-button {

    width: 40px;
    height: 20px;
    background-color: $sec-color;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    p {
        text-align: center;    
    }
}

p {
    padding: 0px;
    margin: 0px;
}

app-activity {

    width: 48%;
    margin: 5px;
}

.hidden {
    width: 20%;
    flex-grow: 1;
}