@import '../../../theme';


.visible-row {

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hidden-row {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

}

.time {

    width: 50px;  
    height: 50px;
    text-align: center;
    padding-top: 10px;

}

.prio-activities {

    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    height: 50px;

}

.toggle {

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.toggle-button {

    width: 30px;
    height: 30px;
    background-color: $sec-color;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

p {
    padding: 0px;
    margin: 0px;
}

app-activity {

    width: 48%;
}

.prio {

    //flex-grow: 1;

}

.hidden {
    width: 20%;
    flex-grow: 1;
}