<div class="head">
  <!-- Left: Title with toggle -->

  <div class="back-arrow" *ngIf="this.showBackArrow" (click)="goBack()">
    <mat-icon class="arrow" svgIcon="logout"></mat-icon>
  </div>
  <div class="home-icon-div" (click)="toggleEventDropdown()">
    <h4>{{ title }}</h4>
    <mat-icon class="dropdown-icon">expand_more</mat-icon>
  </div>
 
  <!-- Right: User icon -->
  <div class="user-icon" (click)="toggleUserMenu()">
  <div class="user-circle">
    <span>{{ getInitials() }}</span>
  </div>
</div>

<div class="user-dropdown" *ngIf="showUserMenu">
  <button (click)="logout()">Logout</button>
</div>

<!-- Dropdown -->
<div class="event-dropdown" *ngIf="showEventDropdown">
  <ul>
    <li *ngFor="let event of userEvents" (click)="selectEvent(event)">
      {{ event.name }}
    </li>
  </ul>
  <button class="new-event-btn" (click)="createNewEvent()">Event hinzufügen</button>
</div>