@import '../../theme';


.head {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 2;
    background-color: $prim-color;
    height: $header-height;
    width: 100%;

    h4 {
      font-size: 15px;
      padding: 0px 0px;
      margin: 0px;
      text-align: center;
      color: $sec-color;
      height: max-content;
    }
  
    .home-icon-div {
  
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: left;
      left: 5px;
      height: $header-height;
      max-width: max-content;
      
      .home-icon {

        padding: 5px;
        width: 22px;

      }
    }

    .icon-row {

        position: fixed;
        display: flex;
        justify-content: center;
        align-items: right;
        right: 5px;
        height: $header-height;
        max-width: max-content;
      
        .editmode {
      
          padding: 5px;
          width: 14px;
      
        }
      
        .global-userlist {
      
          padding: 5px;
          margin-right: 5px;
          width: 30px;
      
        }
      
    } 
  
}

