<div class="head">
  <!-- Left side: Title + dropdown toggle -->
   
<h1>Hi</h1>
 
  <div class="home-icon-div" (click)="toggleEventDropdown()">
    <h4>{{ title }}</h4>
    <div class="chevron-icon">
      <mat-icon svgIcon="arrow_drop_down"></mat-icon>
    </div>
  </div>

  <!-- Right side: User icon -->
  <div class="user-icon" (click)="openUserMenu()">
    <div class="user-circle">
      <span>{{ getInitials() }}</span>
    </div>
  </div>
</div>

<!-- Dropdown: Event list -->
<div class="event-dropdown" *ngIf="showEventDropdown">
  <ul>
    <li *ngFor="let event of userEvents" (click)="selectEvent(event)">
      {{ event.name }}
    </li>
  </ul>
  <button class="new-event-btn" (click)="createNewEvent()">Neues Event</button>
</div>
