@import '../../../theme';


@mixin Card($height, $card: "") {

    
    height: $height;
    min-height: 50px;

    width: auto;
    display: flex;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 10px;
    
    

    @if ($card == "activity") {

        border-left: 10px solid $third-color;
        width: calc(100% - 10px);
        margin-top: 0px;

    }
}