@import '../../../theme';
@import '../../Mixins/cardMixin';

:host {
  display: block;
  width: 100%;
  min-width: 0;        /* EXTREM wichtig */
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;   /* verhindert Aufsprengen */
  background-color: transparent;
}



.card {
    
    @include Card(100%, "activity");
    cursor: pointer;
    //overflow: hidden;
    //box-sizing: border-box;
}

.name {
    //width: max-content;
    //max-width: 400px;
    //padding: 0 0.25rem;
    //overflow: hidden;
    //min-width: 0;
    //box-sizing: border-box;

    //max-width: 100%;
    //overflow-wrap: break-word;
    //word-break: break-word;
}

p {
    margin: 0px;
    width: max-content;
}

.confirmedAct {

    @include Card(100%, "confirmed", 10px)
}

.requestedAct {

    @include Card(100%, "requested", 10px)
}

.emptyAct {

    @include Card(100%, "empty", 10px)
}



