@import '../../../theme';
@import './cardMixin';

.card {
    
    @include Card(100%, "activity");
}

.name {
    width: max-content;
}

p {
    margin: 0px;
    width: max-content;
}

.filledAct {

    @include Card(100%, "filled")
}

.emptyAct {

    @include Card(100%, "empty")
}





