@import '../../../theme';
@import '../../Mixins/cardMixin';

.card {
    
    @include Card(100%, "activity");
}

.name {
    width: max-content;
}

p {
    margin: 0px;
    width: max-content;
}

.filledAct {

    @include Card(100%, "filled", 10px)
}

.emptyAct {

    @include Card(100%, "empty", 10px)
}





