@import '../../../theme';
@import '../../Mixins/cardMixin';

.card {
    
    @include Card(100%, "activity");
    cursor: pointer;
}

.name {
    width: max-content;
}

p {
    margin: 0px;
    width: max-content;
}

.confirmedAct {

    @include Card(100%, "confirmed", 10px)
}

.requestedAct {

    @include Card(100%, "requested", 10px)
}

.emptyAct {

    @include Card(100%, "empty", 10px)
}



