@import '../theme';

#menu {
  position: fixed;
  bottom: 0px;
}

.head {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 2;
  background-color: $prim-color;
  height: $header-height;
  width: 100%;

  h4 {
    font-size: 15px;
    padding: 0px 0px;
    margin: 0px;
    text-align: center;
    color: $sec-color;
    height: max-content;
  }

  
}

.icon-row {

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: right;
  right: 5px;
  height: $header-height;
  max-width: max-content;

  .editmode {

    right: 0px;
    padding: 5px;
    height: $header-height - 10px;
    width: 15px;

  }

  .global-userlist {

    right: 0px;
    padding: 5px;
    height: $header-height - 10px;
    width: 30px;

  }

}

