<div class="app-container">
    <div class="head">

        <h4>Festival am Waldrand 2023</h4>
    
        <div class="icon-row">

            <mat-icon class="global-userlist" aria-hidden="false" svgIcon="userlist" (click)="globalUserlist()"></mat-icon>

            <mat-icon *ngIf="!this.unlocked" class="editmode" aria-hidden="false" svgIcon="locked" (click)="this.shiftplanService.updateEditmode(true)"></mat-icon>
            <mat-icon *ngIf="this.unlocked" class="editmode" aria-hidden="false" svgIcon="unlocked" (click)="this.shiftplanService.updateEditmode(false)"></mat-icon>

        </div>
    
    </div>

    <router-outlet class="router"></router-outlet>

    <app-menu></app-menu>
</div>
