<h3>Deine Anfragen</h3>
<div class="requestsContainer">
    <div class="requestCard" *ngFor="let request of _shiftRequests">
        <div class="dataContainer">
            <h3>{{request.category}}</h3>
            <p> {{request.startTime | date:'EEE dd.MM.yyyy'}} </p>
            <div class="timeContainer">
                <p> {{request.startTime | date:'HH:mm'}} - {{request.endTime | date:'HH:mm'}} Uhr</p>

                <p class="endDate small_text" *ngIf="nextDay(request)">({{request.endTime | date:'EEE dd.MM.yyyy'}})</p>
            </div>
    
        </div>
        <div class="buttonContainer">
            <button (click) ="accReq(request)" class="button ja">Ja</button>
            <button (click)="decReq(request)" class="button nein">Nein</button>
        </div>
    </div>
</div>