@import '../../Mixins/cardMixin';
@import '../../../theme';

:host {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
   

}

.requestsContainer {

    height: 100%;
    overflow: scroll;
    
}

.requestCard{
        
    @include Card(124px);

    flex-direction: column;
    width: 80vw;
    align-items: start;
    margin-bottom: 10px;


    h3 {
        margin-bottom: 5px;
    }

    p {
        margin-bottom: 3px;
    }

    .dataContainer{
        padding: 10px 20px;

    }
}



.timeContainer {

    display: flex;
    flex-direction: row;

    .endDate {

        padding-left: 10px;

    }
}



.buttonContainer{
    display: flex;
    width: 100%;


}

.button {

    width: 50%;
    border: none;
    height: 25px;
    color: white;

    &.ja {
        background-color: $third-color;
    }

    &.nein {
        background-color: $color-4;
    }
}

