@import '../../../theme';


:host {

    position: relative;
    //top: $header-height;
    width: 100vw;
    //max-height: calc(100vh - $header-height);
}
.body {
    margin-top: calc($header-height + 24px);
    width: 100vw;
    //max-height: calc(100vh - $header-height);
}


