@import "../../../theme";


mat-tab-group {

    height: $content-height;
    background-color: $sec-color;
    padding-top: $header-height;
    position: fixed;
    width: 100%;
}
$header-height: 0px;

mat-tab-header  {

    background-color: $prim-color;
    position: sticky;
    height: max-content;
    $header-height: height;
    
}

.mat-mdc-tab  .mdc-tab__text-label {

    color: $sec-color;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {

    color: $prim-color;
}

.mdc-tab .mdc-focus-indicator .mdc-tab--active, .mdc-tab-indicator--active {

    background-color: $sec-color;
    border-radius: 5px 5px 0px 0px;
    max-width: 95%;
    padding-right: 10px !important;
    
    .delete {

        display: flex;
        float: right;

    }

}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {

    border: none;
    background-color: $sec-color; 
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {

    box-sizing: 100%;
}

mat-form-field {

    display: block;
    width: 90%;
    margin: auto;
}

.add {

    display: flex;
    flex-direction: column;
    height: calc($content-height - 70px);
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.delete {

    color: $color-4;
    margin-left: 30px;
    display: none;
}

