@import "../../../theme";


.cat-menu {
    //margin-top: $header-height;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: $header-height;
    z-index: 2;
    background-color: $prim-color;
    height: 30px;
    max-width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;

    .cat {

        display: flex;
        align-items: center; 
    }

    h2 {
        color: $sec-color;
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

swiper-container {

    max-height: calc(100vh - $header-height - 40px);
    //overflow: scroll;
}

swiper-slide {

    max-height: calc(100vh - $header-height - 40px);
}

.active {
    text-decoration: underline;
    text-decoration-color: $sec-color;
   
}

.category-type {

    max-height: calc(100vh - $header-height - 40px);
}

// #cdk-overlay-0 {

//     max-width: 100vw !important;
// }


// ul li a {
//     text-decoration: none;
// }

// .container {

//     margin-left: 10px;
//     width: 100%;
//     // height: 100%;
//     text-align: center;
//     //background-color: orange;
// }


// .shift-cat-tab-label {
//     background-color: aqua;
//     width: 100%;
  
// }

//----------------------



// .shift-cat-tabs {
//     animation: none !important;

// }


// .scrollable-element {

//     touch-action: none;
// }