@import "../../../theme";

.menu{
    padding-top: 50px;
    padding-bottom: 10px;
    // text-align: center;
    display: flex; /* or display: inline; */
    justify-content: center; /* Horizontally center the headings */
    align-items: center;
    h2{
        color: azure;
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
    background-color: $prim-color;
    
}
.active {
    text-decoration: underline;
    text-decoration-color: azure; /* Color of the underline */
  }
  
  /* Remove text decoration from other items */
  ul li a {
    text-decoration: none;
  }

.container{
 
    margin-left: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: orange;
}

.juhu{
    margin-top: 200px;
    
    margin-left: 4px;
    width: 80%;
    height: 300px;
    text-align: center;
    background-color: pink;

}
.shift-cat-tab-label{
    background-color: aqua;
    width: 100%;
    height: 100%;
}

//----------------------
.category-type{
    margin-top: 50px;
}
mat-tab-group {
    
    height: $content-height;
    background-color: $sec-color;
    padding-top: $header-height - 1px; 
    position: fixed;
    width: 100%;
    touch-action: pan-y !important;
}
.hui{
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
}

mat-tab-header  {

    background-color: $prim-color;
    position: sticky;
    height: max-content;

    button {

        div {
            border-color: $sec-color !important;
        }
    }
    
}

.mdc-tab__text-label {

    color: $sec-color !important;
}



.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active {

    .mdc-tab__text-label {

        color: $prim-color !important;
    }
}

.mdc-focus-indicator .mdc-tab--active, .mdc-tab-indicator--active {

    background-color: $sec-color !important;
    border-radius: 5px 5px 0px 0px;
    width: auto;
    max-width: 95%;
    padding: 10px;
    
    .delete {

        right: 0px;
        display: flex;
    }

    &:hover {

        background-color: $sec-color;
    }

    &:active {

        background-color: $sec-color;
        box-shadow: none;
    }
}

.mat-mdc-tab-ripple {

    opacity: 0% !important;
    display: none !important;
    visibility: hidden !important;
}


.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {

    border: none;
    text-decoration: none;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {

    box-sizing: 100%;
}

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
    border-radius: 5px 5px 0px 0px;
}
#mat-content{
    animation: none !important;
}

.shift-cat-tabs{
    animation: none !important;

}

mat-form-field {

    display: block;
    width: 90%;
    margin: auto;
}
.scrollable-element{
    
    touch-action: none;
}
.add {

    display: flex;
    flex-direction: column;
    height: calc($content-height - 70px);
    width: 100%;
    
    align-items: center;
    
    justify-content: center;
    
    .form{
        margin: 0px;
        max-width: 60%;
        
    }
    
  
}

.delete {

    color: $color-4;
    margin-left: 30px;
    display: none;
}

