<div class="cat-menu">
  <div class="cat" *ngFor="let cat of this.eventService.categories | async; let i = index">
    <h2 (click)="setActiveSlide(i); " #tab [ngClass]="{ 'active': activeSlideIndex === i }">{{ cat.name }}</h2>

  </div>
  <h2 (click)=addCatDialog() *ngIf="unlocked" #tab class="addBttn">+</h2>
</div>

<swiper-container #swiper *ngIf="shouldReloadContent">

  <swiper-slide *ngFor="let cat of this.eventService.categories | async">

    <div class="category-type">

      <app-shift-category [content]="cat"></app-shift-category>
    </div>
  </swiper-slide>

</swiper-container>