

<div class="cat-menu">
  <div class="cat-container">
    <div class="cat" *ngFor="let cat of this.eventService.categories | async; let i = index">
      <h3 (click)="setActiveSlide(i); " #tab [ngClass]="{ 'active': activeSlideIndex === i }">{{ cat.name }}</h3>
    </div>
    <h2 *ngIf="unlocked" (click)=addCatDialog() #tab class="addBttn">+</h2>
  </div>
</div>

<swiper-container #swiper *ngIf="shouldReloadContent">

  <swiper-slide *ngFor="let cat of this.eventService.categories | async">

    <div class="category-type">

      <app-shift-category [content]="cat"></app-shift-category>
    </div>
  </swiper-slide>

</swiper-container>