

@import "../../../theme";

.body{
    
    .tabs{
        
    }
    .head{
      background-color: $prim-color;
    
        h1{
            padding-top: 5%;
            text-align: center;
        }
    }
    margin-bottom: 200px;

}