@import "../../../theme";


.cat-menu {

    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 2;
    background-color: $prim-color;
    height: 40px;
    max-width: 100vw;

    .cat-container {

        display: flex;
        overflow-y: hidden;

        scrollbar-width: thin;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            
            height: 0;
        }

        .cat {

            display: flex;
            align-items: center;
        }

        h3,
        h2 {
            color: $sec-color;
            height: 40px;
            margin: 0px;
            margin-left: 10px;
            margin-right: 10px;

            position: relative;
        }
    }
}

swiper-container {

    max-height: calc(100vh - $header-height - 40px);
}

swiper-slide {

    max-height: calc(100vh - $header-height - 40px);
}

.active::after {

    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #ffffff;
    border-radius: 10px;;
}

.category-type {

    max-height: calc(100vh - $header-height - 40px);
}