@import '../../theme';

@mixin button($style: 1) {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: max-content;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    border: 0;

    @if ($style == 1) {

        background-color: $prim-color;
        color: $sec-color;
        border-radius: 15px;
    }

    @if ($style == 2) {

        background-color: white;
        color: $prim-color;
        border-radius: 15px;


    }
}