@import '../../theme';


@mixin Card($height, $card: "", $border-radius: 20px) {

    
    height: $height;

    width: auto;
    display: flex;
    background-color: white;
    //border: 1px solid rgba(0, 0, 0, 0.30);
    overflow: hidden;
    justify-content: center;
    align-items: center;

    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: $border-radius;
    margin-top: 10px;
    
    

    @if ($card == "filled" or $card == "empty") {

        height: 55px;

        &.filledAct {

            border-left: 10px solid $third-color;
        }

        &.emptyAct {

            border-left: 10px solid $color-5;
        }
        
        width: calc(100% - 10px);
        margin-top: 0px;

    }
}