<h3>{{data.uuid}}</h3>

<button *ngIf="data.user.uuid" (click)="this.shiftplanService.delUserFromActivity(data.uuid, data.user.uuid)">Aus Liste austragen</button>

<div class="user" *ngFor="let user of userList">test
    <h3>{{user.fName}}</h3>
</div>


<!--
  <ul class="users">
  <li *ngFor="let user of users">
    <button [class.selected]="user === selectedUser" type="button" (click)="onSelect(user)">
      <span class="vName">{{ user }}</span>
      <span class="nName">{{ user }}</span>
    </button>
  </li>
</ul>
-->