
<div class="active-user" *ngIf="data.user.uuid" (click)="delUser()">
  <h3>Aus Liste austragen</h3>
</div>

<div *ngIf="!data.user.uuid">
  <div class="user" *ngFor="let user of userList" (click)="addUser(data.uuid, user.uuid)">
    <h3>{{user.fName}} {{user.lName}}</h3>
  </div>
</div>



<!--
  <ul class="users">
  <li *ngFor="let user of users">
    <button [class.selected]="user === selectedUser" type="button" (click)="onSelect(user)">
      <span class="vName">{{ user }}</span>
      <span class="nName">{{ user }}</span>
    </button>
  </li>
</ul>
-->