@import '../.././Mixins/buttonMixin';

.cat-icon-bar {

    display: flex;
    width: 100%;
    height: 50px;;
    justify-content: right;

    .del-cat-icon {

        padding: 5px 10px 5px 10px;
        width: 15px;
        color: $color-5;
    }
}

.shift_category-container {

    //padding-top: 3vh;
}

.edit-div {

    display: flex;
    justify-content: center;
    align-items: center;
}

.new-shiftblock-button {

    @include button();
    border: 0px;
    min-width: 40px;
    height: 40px;

    h3 {
        margin: 0px;
        padding: 0px;
    }
}