@import '../../../theme';
@import '../.././Mixins/buttonMixin';


:host {

    max-height: calc(100vh - $header-height - 40px);
    display: block;
    overflow-y: scroll;
    
}

.cat-icon-bar {

    display: flex;
    width: 100%;
    height: 30px;;
    justify-content: flex-end;
    background-color: #ffff;
    position: sticky;
    top: 0;
    z-index: 5000;

    .del-cat-icon {

        padding: 5px 10px 5px 10px;
        width: 15px;
        color: $color-5;
    }
}

.shift_category-container {

    //padding-top: 20px;

    .new-day {
        
        padding: 5px;
        padding-left: 7px;

        h3 {
            font-size: 14px;
        }
    }
}

.edit-div {

    display: flex;
    justify-content: center;
    align-items: center;

}

.break {

    display: flex;
    flex-direction: column;

    .break-text {

        align-self: center;
        transform: translateY(20px);

        &.locked {

            transform: translateY(0px);
        }

        p {
            color: $color-5;
            margin: 10px;
        }
    }

    .new-shiftblock-in-break-button {

        @include button();

        position: relative;
        align-self: flex-end;
        transform: translateY(-20px);
    
        width: 12px;
        height: 12px;
        border-radius: 7px;
    
        h3 {
            margin: 0px;
            padding: 0px;
        }
    }
}


.new-shiftblock-button {

    @include button();
    min-width: 40px;
    height: 40px;

    h3 {
        margin: 0px;
        padding: 0px;
    }
}