@import '../.././Mixins/buttonMixin';

.cat-icon-bar {

    display: flex;
    width: 100%;
    height: 30px;;
    justify-content: right;

    .del-cat-icon {

        padding: 5px 10px 5px 10px;
        width: 15px;
        color: $color-5;
    }
}

.shift_category-container {

    //padding-top: 3vh;
}

.edit-div {

    display: flex;
    justify-content: center;
    align-items: center;

}

.break {

    display: flex;
    align-items: center;
    justify-content: center;

    .break-text {

        p {
            color: $color-5;
            margin: 10px;
        }
    }
}

.new-shiftblock-in-break-button {

    position: absolute;
    right: 0px;

    @include button();

    width: 12px;
    height: 12px;
    border-radius: 7px;

    h3 {
        margin: 0px;
        padding: 0px;
    }
}


.new-shiftblock-button {

    @include button();
    min-width: 40px;
    height: 40px;

    h3 {
        margin: 0px;
        padding: 0px;
    }
}