@import '../../Mixins/cardMixin';
@import '../../../theme';

:host {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    
   

}

.headLine{
    margin-top: 30px;
}


.activityContainer {

    height: 100%;
    overflow: scroll;
   
    
}

.shifts{
        
    @include Card(124px);

    flex-direction: column;
    width: 80vw;
    align-items: start;
    margin-bottom: 10px;


    h3 {
        margin-bottom: 5px;
    }

    p {
        margin-bottom: 3px;
    }

    .dataContainer{
        padding: 10px 20px;

    }
}

.timeContainer {

    display: flex;
    flex-direction: row;

    .endDate {

        padding-left: 10px;

    }
}