<div class="headLine">
    <h3>Deine Tätigkeiten</h3>
</div>
        <div class="activityContainer">
            <div class="shifts" *ngFor="let shift of _shiftsByUser">
                <div class="dataContainer">
                    <h3>{{shift.category}}</h3>
                    <p> {{shift.startTime | date:'EEE dd.MM.yyyy'}} </p>
            <div class="timeContainer">
                <p> {{shift.startTime | date:'HH:mm'}} - {{shift.endTime | date:'HH:mm'}} Uhr</p>
                
            </div>
                </div>

            </div>
        </div>
