h1{
    text-align: left;
    font-size: xx-large;
    font-weight:bolder;
    margin-top: 20px;
    margin-left: 80px;
}

h2{
    margin-left: 80px;
    margin-top: 40px;
}

div{

    margin-left: 30px;
    height: 255px; 
    width: 300px; 
    background-color: #e2efef; 
    border-radius: 18px
}

ul{
    font-size:large;
    list-style-type: none;

}
