<div class="dashboard-container">

    <div class="topbar-container">

        <div class="icon-container">
            <!--<mat-icon class="info-icon" svgIcon="info" routerLink="/"></mat-icon>-->
            <div *ngIf="this.eventService.isAdmin">
                <mat-icon *ngIf="!this.eventService.editMode" (click)="this.eventService.toggleEditMode()"
                    class="locked-icon" svgIcon="locked"></mat-icon>
                <mat-icon *ngIf="this.eventService.editMode" (click)="this.eventService.toggleEditMode()"
                    class="unlocked-icon" svgIcon="unlocked"></mat-icon>
            </div>

            <mat-icon class="userlist-icon" svgIcon="userlist" routerLink="/userlist"></mat-icon>
            <mat-icon class="shiftplan-icon" svgIcon="shiftplan" routerLink="/shiftplan"></mat-icon>

        </div>
    </div>

    <div class="shift-select" *ngIf="this.eventService.editMode">
        <h3>Schichten von</h3>
        <select [(ngModel)]="selectedUser" (ngModelChange)="onUserSelected($event)">
            <option *ngFor="let user of allUsers" [ngValue]="user">
                {{ user.fName }} {{ user.lName }}
            </option>
        </select>
    </div>

    <div class="shift-container">

        <!-- Deine Anfragen -->
        <div class="request-section">

            <h5 class="section-title">Deine Anfragen</h5>
            <p class="no-request-text" *ngIf="shiftRequests.length == 0"> Du hast aktuell keine offenen Anfragen. </p>

            <!--<app-shift-request *ngIf="shiftRequests.length > 0" [_shiftRequests]="shiftRequests"
                [currentUser]="selectedUser">
            </app-shift-request>-->

            <app-shift-request *ngFor="let request of shiftRequests" [_shiftRequests]="[request]"
                [currentUser]="selectedUser">
            </app-shift-request>

            <div class="divider"></div>
        </div>



        <!-- Deine Schichten -->
        <div class="shift-section">

            <div *ngFor="let shift of shiftsByUser">
                <!-- Loop through activities inside each shift -->
                <app-dashboardactivity *ngFor="let activity of shift.activities"
                    [role]="shift.shift_category.name || ''" [start]="(shift.startTime | date: 'shortTime') || ''"
                    [shift]="shift || {}" [end]="(shift.endTime | date: 'shortTime') || ''"
                    [date]="(shift.endTime | date: 'shortDate') || ''"
                    [userName]="activity.user.firstName + ' ' + activity.user.lastName" [status]="activity.status || ''"
                    [description]="shift.shift_category.description || ''" [activity]="shift.activities">
                </app-dashboardactivity>
            </div>
        </div>

    </div>
</div>