<div class="dashboard-container">
    <mat-icon class="home-icon" svgIcon="shiftplan" routerLink="/shiftplan"></mat-icon>
    <button mat-icon-button routerLink="/userlist">
        <mat-icon svgIcon="userlist"></mat-icon>
    </button>

    <!-- Deine Schichten -->
    <div class="section">
        <div class="section-header">
            <h5>Deine Schichten</h5>
            <select [(ngModel)]="selectedUser" (ngModelChange)="onUserSelected($event)">
                <option *ngFor="let user of allUsers" [ngValue]="user">
                    {{ user.fName }} {{ user.lName }}
                </option>
            </select>

        </div>

        <div *ngFor="let shift of shiftsByUser">
            <!-- Loop through activities inside each shift -->
            <ng-container *ngFor="let activity of shift.activities">
                <app-dashboardactivity [role]="shift.shift_category.name || ''"
                    [start]="(shift.startTime | date: 'shortTime') || ''"
                    [end]="(shift.endTime | date: 'shortTime') || ''" [date]="(shift.endTime | date: 'shortDate') || ''"
                    [userName]="activity.user.firstName + ' ' + activity.user.lastName" [status]="activity.status || ''"
                    [description]="shift.shift_category.description || ''" [activity]="shift.activities">
                </app-dashboardactivity>
            </ng-container>
        </div>
    </div>

    <!-- Deine Anfragen -->
    <div class="section">
        <div>
            <h5 class="section-title">Deine Anfragen</h5>
        </div>

        <div class="request">
            <app-shift-request *ngIf="shiftRequests.length > 0" [_shiftRequests]="shiftRequests"
                [currentUser]="selectedUser">
            </app-shift-request>
        </div>

    </div>
</div>