h1{
    text-align: left;
    font-size: xx-large;
    font-weight:bolder;
    margin-top: 20px;
    margin-left: 80px;
}

h2{
    margin-left: 80px;
    margin-top: 40px;
}

div{

    padding: 20px;
    margin: 20px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 18px;
    background-color:#e2efef;
    display: block;
}

ul{
    font-size: small;
    list-style-type: none;

}

.flex-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: left;
    background-color: #e2efef;
    margin-left: 40px;
    margin-right: 45px;
    border-radius: 18px
}

/*
app-dashboardactivity {

    padding: 20px;
    margin: 20px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 18px;
    background-color:#e2efef;
    display: block;
}
*/
