@import '../../../theme';
@import '../../Mixins/cardMixin';


.dashboard-container {
  margin-top: calc($header-height + 2rem);
  background-color: $sec-color;
  padding: 0rem 1rem;
  height: calc(100vh - calc($header-height + 2rem));
  overflow: hidden;

  .topbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 1rem 0rem;

    .shift-select {
      display: flex;
      flex-direction: row;
      gap: 10px;
      
      h3 {
        margin: 0;
      }
    }

    .icon-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;

      .userlist-icon {
        width: 40px
      }

      .info-icon {
        height: 27px;
        width: 27px;
      }
    }
  }

  .shift-container {
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
  }
}

/*.dashboard-heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;

  h4 {
    font-size: 1.1rem;
    margin: 0;
    font-weight: 600;
  }

  select {
    padding: 6px 10px;
    font-size: 0.95rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: white;
  }
}*/
.request-section {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.section-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;

  h5 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  .refresh-icon {
    font-size: 1rem;
    cursor: pointer;
    color: #666;
  }

}

/*.shift-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 14px;
  padding: 12px 16px;
  margin-bottom: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}*/

.shift-role {
  font-weight: 600;
  font-size: 0.95rem;
}

.shift-right {
  text-align: right;
}

.shift-date {
  font-size: 0.75rem;
  color: #999;
  font-weight: 500;
}

.shift-time {
  font-size: 0.95rem;
  color: #333;
}

.divider {
  margin-top: 1rem;
  width: 100%;
  height: 2px;
  background-color: $color-5;
  border-radius: 1rem;
}

.no-request-text {
  color: $color-5;
  margin: 1rem 0.5rem 0rem 0.5rem;
}

.shift-section {
  margin-bottom: 7rem;
}