@import '../../../theme';
@import '../../Mixins/cardMixin';


.dashboard-container {

    
    height: $content-height;
    padding-top: $header-height;
    margin: 0;
    //overflow: scroll;
    
}

.dashboard-heading {

    position: sticky;
    top: 0px;
    height: 50px;
}

h2{
    margin-left: 80px;
    margin-top: 40px;
}

h4{
    text-align: center;
    font-weight:bolder;
    margin: auto;
    padding-top: 20px;
}

h5 {

    font-size: 15px;
    text-align: center;
    padding-top: 5vh;
}

h6 {

    font-weight: bold;
    font-size: 13px;
}

.shifts{
    @include Card(auto);
    padding: 20px;
    margin: 20px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 18px;
    background-color:#ffffff;
    display: block;
}

ul{
    font-size: small;
    list-style-type: none;

}

.flex-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: left;
    background-color: #e2efef;
    margin-left: 40px;
    margin-right: 45px;
    border-radius: 18px
}

select {

    &:focus {

        outline: $prim-color;
    }
    border: none;
    font-weight: bold;
}