<div class="dashboard-container">

    <div class="dashboard-heading">

        <h4>Willkommen
            <select [(ngModel)]="selectedUser" (change)="changeUser()">
                <option *ngFor="let user of allUser" [ngValue]="user">{{user.fName}} {{user.lName}}</option>
              
            </select>
        </h4>
        <h5>Deine Tätigkeiten</h5>

    </div>

    <!--<app-dashboardactivity *ngFor="let shift of activities"></app-dashboardactivity> -->

    <div class="shifts" *ngFor="let shift of shiftByUser">
        <h6>{{shift.category}}</h6>
        <p>{{shift.startTime}} - {{shift.endTime}}</p>
    </div>


    <div style="width: 100%; height: 0px; padding-top: 200px"></div>




</div>