@import "../../../Mixins/cardMixin";
@import '../../../Mixins/buttonMixin';


.dialogContainer {

  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-self-button {

  @include button();
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  margin: 0;
  margin-bottom: 3rem;
  border-radius: 1rem;

  &:hover {
    background: lighten($prim-color, 6%);
  }
}

.line {

  width: 70%;
  height: 1px;
  background-color: $prim-color;
  margin: 30px 0px;

}

h3 {

  margin: 0px;
}

.list-container {

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 15px 0;
  margin-bottom: 2rem;
  width: 100%;
}

.user-container {

  @include Card(auto);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  padding-right: 0.5rem;
  margin: 0;
}

.username {

  margin: 0px;
}

.error-msg {
  color: #e53935;
  font-size: 0.85rem;
  margin-bottom: .5rem;
  text-align: center;
}
.error-msg {
  color: #e53935;
  font-size: 0.85rem;
  margin-bottom: .6rem;
  text-align: center;
  animation: fadeOut 3.5s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}


.submit-user-button {

  @include button();
  width: 6rem;
  height: 2.5rem;
  border-radius: 1rem;
  margin: 0;
  cursor: pointer;

  &:hover {
    background: lighten($prim-color, 6%);
  }
}