<!-- <ng-template #emptyAct>
  <div class="user" *ngFor="let user of userList" (click)="addUser(data.activity.uuid, user.uuid, data.shiftId)">
    <h3>{{user.fName}} {{user.lName}}</h3>
  </div>
</ng-template> -->


<div class="dialogContainer">
  <div class="user-container" *ngIf="data.activity.user.uuid else emptyAct" (click)="delUser()">
    <h3>Aus Liste austragen</h3>
  </div>

  <ng-template #emptyAct>

    <button (click)="addCurrUser()" class="confirm-self-button">Eintragen</button>

    <div class="line"></div>
    <h3>Verfügbare Personen</h3>
    
    <div class="list-container">
      <div class="user-container" *ngFor="let user of userList">
        <p class="username">{{user.fName}} {{user.lName}}</p>

        <button class="submit-user-button" (click)="reqUser(data.activity.uuid, user.uuid, data.shiftId)">Anfragen</button>
      </div>
    </div>


  </ng-template>

</div>