@import "../../../Mixins/cardMixin";
@import '../../../Mixins/buttonMixin';

.dialogContainer {

  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.confirm-self-button {

  @include button();
  padding: 10px 20px;
}

.line {

  width: 70%;
  height: 1px;
  background-color: $prim-color;
  margin: 30px 0px;

}

h3 {

  margin: 0px;
}

.list-container {

  margin: 15px 0px;
  padding: 0px 10px;
  min-width: 90%;
  max-height: 300px;
  overflow: scroll;

}

.user-container {

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.username {

  margin: 0px;

}

.submit-user-button {

  @include button();
  width: max-content;
  height: 10px;
  border-radius: 10px;
  margin-right: 0px;

}