@import '../../../../theme';
@import '../../../Mixins/buttonMixin';

.dialogContainer {

    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.delFE {

    @include button();

}